* {
    box-sizing: border-box;
}

body {
    background-color:  hsl(30, 54%, 90%);
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Outfit", sans-serif;
}


main {
    background-color:hsl(0, 0%, 100%) ;
    width:700px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding :30px;
    border-radius: 20px;
}


@media (max-width: 400px) {

    main {
        width:100%;
        margin:0px;
    }
}
img {
    width:100%;
    height: 25%;
    border-radius: 15px;
}



ul {
    align-self: start;
    color: hsl(30, 10%, 34%);
    
}


 .unordered-list-1 li::marker
{
color: hsl(332, 51%, 32%);

   
}

.unordered-list-2 li::marker
{
color: hsl(14, 45%, 36%);

   
}


p {
   
    font-size: 16px;
    color: hsl(30, 10%, 34%);
    font-weight: 400;
    align-self: start;
}

h1 { align-self: start;
    font-weight: 400;
    color: hsl(24, 5%, 18%);
    font-family: "Young Serif", serif;}

h2 {
    align-self: start;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
    font-family: "Young Serif", serif;
}

h3 {
    align-self: start;
   
    color: hsl(332, 51%, 32%);
    
}

.container {
    width:100%;
    background-color:   hsl(330, 100%, 98%);
    border-radius: 15px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    padding: 10px;
    column-gap: 20px;
    color: hsl(30, 10%, 34%);

}

.grid-item {
    font-family: "Outfit", sans-serif;
    padding : 10px 0 10px 0;
}
.grid-item-1 {
    font-weight: 700;
    color: hsl(14, 45%, 36%);
    padding : 10px 0 10px 0;
}

.horizontal-line {
    border: 1px solid hsl(30, 18%, 87%);
    width:100%;
    margin:20px 0 20px 0;
}

table {
   width:100%;
    border-collapse: collapse;
    margin: 10px;
    
  }
td,li {
    padding: 10px;
  }

tr{
    border-bottom: 1px solid  hsl(30, 18%, 87%);
}

.last-row {
    border-bottom:none;
}

.first-collumn {
    color:hsl(30, 10%, 34%);
    font-weight: 400;
}
.second-collumn {
   color: hsl(14, 45%, 36%);
   font-weight: 600;
}